.bigContent {
  display: inline-block;
}

.bigContent span {
  padding-right: 5px;
  vertical-align: super;
}

.bigContent i {
  font-size: 36px;
  color: #00A8E8;
  
}

@media (min-width: 767px) and (max-width: 1199.98px) {

  .bigContent i {
    display: block;
    padding-top: 20px;
    padding-bottom: 8px;
  }
}

@media (max-width: 767.98px) {
  .bigContent i {
    display: block;
    padding-top: 20px;
    padding-bottom: 8px;
  }
}