@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

/* main css */
html {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
}
.fa, .fas {
  padding-left: 5px;
}
a { 
  text-decoration: none;
  color: #007ea7;
} 
/* end main css */


/* head */
.wrapHead {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 1110px;
  padding: 0 10px;
  margin: 0 auto;  
}

.headLogo {
  width: 100%;
  height: 100px;
}

.left img {
  width: 360px;
  height: 76px;  
  float: left;
  margin-top: 12px;
}

.right {
  display: block;
  width: 260px;
  height: 76px;
  text-align: right;
  float: right;
  margin-top: 12px;
}

.right strong {
  display: block;
  color: #007ea7;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;  
}

.right small {
  font-size: 14px;
}

.fa-phone-square:before {
  content: "\f098";
  padding-right: 20px;
}
/* End Head */

/* ////////////////////////// MENU ///////////////////////// */

.wrpMenu {
  width: 100%;
  background-color: #172C33;
  /* position: relative; */
}

.mainMenu {
  width: 1110px;
  height: 40px;
  margin: auto;
}

/*Strip the ul of padding and list styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
/*Create a horizontal list with spacing*/
li {
  display:inline-block;
  float: left;
  margin-right: 1px;
}
/*Style for menu links*/
li a {
  display: block;
  min-width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #172C33;;
  text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
  background: #405860;
} 
/*Style for dropdown links*/
li:hover ul a {
  background: #f3f3f3;
  color: #415258;
  height: 40px;
  line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
  background: #405860;
  color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
  display: none;
}
/*Make dropdown links vertical*/
li ul li {
  display: block;
  float: none;
}
/*Prevent text wrapping*/
li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
  display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
  text-decoration: none;
  color: #fff;
  background: #172C33;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #414F54;
  display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
  display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
  display: block;
}
.wrpCarusel {
  width: 100%;
  height: 500px;
  background-color: #007ea7;
}

.bigContLeft {
  width: 50%;
  float: left;
  color: white;
}

.bigContLeft h1 {
  font-size: 2em;
  letter-spacing: 0.5px;
  word-spacing: 10px;
  line-height: 1.2;
  padding-top: 100px;
  text-transform: uppercase;
  text-align: left;
  text-shadow: 2px 2px #222;
}

.bigContLeft p {
  padding-top: 25px;
  text-align: left;
}

.bigContRight {
  width: 50%;
  float: right;
  color: white;
}
.bigContRight img{
  padding-top: 20px;
  float: right;
}

.wrpNextBlock {
  width: 100%;
  background-color: #eeeeee;
}

.containerNextBlock {
max-width: 1110px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
overflow: hidden;
}

.zagolovok {
  padding-top: 40px;
  padding-bottom: 20px
}

.zagolovok a {  
    color: #000;
}

.zagolovok a:hover {
  color: #007ea7;  
}



.zagolovok span {
  font-size: 32px;
}

.fa-angle-double-right:before {
  font-size: 26px;
  padding-right: 10px;
  color: #007ea7;
}

.triBlocka {
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
}

.triBlocka > .block {
  width: 348px;
  border: 1px solid black;
  background: #fff;
  height: 320px;
  float: left;
  margin-right: 30px;
  /* margin: 1.167%; */
}

.block:last-child {
  margin-right: 0;
}

.triBlocka p {
  margin: 0 5px;
}

.inBlockB {
  text-align: center;
}

.inBlockB img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.inBlockB h1 {
  font-size: 36px;
  padding-bottom: 15px;
}

.inBlockB img.animate1:hover {
  filter: alpha (Opacity=25);
  /* прозрачность для IE */
  opacity: 0.55;
  /* прозрачность для других браузеров */
}

/*-------------------------------------------*/

.triBlocka > .blockNews {
  width: 348px;
  /* border: 1px solid black; */
  /* background: #fff; */
  /* height: 320px; */
  padding-bottom: 40px;
  float: left;
  margin-right: 30px;
  /* margin: 1.167%; */
}

.blockNews:last-child {
  margin-right: 0;
} 

.oneNews p {
  clear: both;
  padding-top: 2px;
}

.newsfat {
  font-weight: bold;
}

.wrpAbout {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 40px;
}

.containerAbout {
  max-width: 1110px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  }

  .aboutLeft {
    box-sizing: border-box;
    padding-right: 15px;
    width: 50%;
    float: left;
  }

  .aboutRight {
    box-sizing: border-box;
    width: 50%;
    float: right;
  }

  .wrpTwenty {
    width: 100%;
    height: 20px;
    background-color: #eeeeee;    
  }

  /* FOOOOTER */

  .wrapFoo {
    width: 100%;
    height: 210px;
    padding-top: 30px;    
    background-color: #172C33;
  }
  
  .contFoo {
    width: 1140px;
    height: 200px;
    margin: auto;
    box-sizing: border-box;
    /* padding: 20px 15px; */
    color: white;  
  }
  
  .blocTel {
    /* position: relative; */
    float: left;
    margin-right: 30px;
    width: 255px;
    line-height: 30px;
    text-align: right;
  }
  
  .blocTel strong {
    display: block;
    color: #00A8E8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
  }
  
  .blocMenuOne {
    /* position: relative; */
    float: left;
     margin-right: 30px;
    display: block;
    width: 255px;
    /* background-color: #33AF5D; */
    line-height: 30px;
  }

  .blocMenuOne a {
    padding-left: 60px;
    color: #eeeeee;
    display: block;
    text-decoration: none;  
  }  

  .blocMenuOne a:hover {
    display: block;
    color: #00A8E8;
    text-decoration: none;
    cursor: pointer;
  }

  .blocMenuTwo {
    /* position: relative; */
    float: left;
    margin-right: 30px;
    display: block;
    width: 255px;
    line-height: 30px;
  }

  .blocMenuTwo a {
    color: #eeeeee;
    display: block;
    text-decoration: none;  
  }  

  .blocMenuTwo a:hover {
    display: block;
    color: #00A8E8;
    text-decoration: none;
    cursor: pointer;
  }
  
  .blocCopy {
    /* position: relative; */
    float: left;
    display: block;
    width: 255px;
    line-height: 30px;
  }

  .blocCopy span {
    padding-left: 10px;
  }
  
  /* PRICE */

  .wrapper {
    width: auto;
    /* height: 500px; */
    /* background-color: #c19898; */
    margin: auto;
    padding: 0;
    /* box-shadow: 0 5px 15px #cccccc; */
  }
  
  .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
  }
  
  .active, .accordion:hover {
      background-color: #ccc;
  }
  
  a:hover {
      background-color: #98ccd3;
  }
  
  .accordion:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: left;
      margin-right: 5px;
  }
  
  .active:after {
      content: "\2212";
  }
  
  .accordion span {
    float: right;
  }
  .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
  }

  .panel p {
    margin: 5px;
  }
  
  
  .addcolor {
    background-color: #CEEAF7;  
  }

  .price {
    margin: 10px;
  }

  #pc {
    padding-top: 15px;
    font-size: 22px;
    font-weight: bold;
  }

  #notebook {
    padding-top: 15px;
    font-size: 22px;
    font-weight: bold;
  }  
  
  #pcandbook {
    padding-top: 15px;
    font-size: 22px;
    font-weight: bold;
  }